* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ====== fonts ====== */
@font-face {
  font-family: "graphikM";
  src: url(../fonts/Graphik-Medium.ttf);
}
@font-face {
  font-family: "graphik";
  src: url(../fonts/Graphik-Regular.woff);
}
@font-face {
  font-family: "theinhardt";
  src: url(../fonts/Theinhardt-Lt.woff);
}
@font-face {
  font-family: "tiempos";
  src: url(../fonts/TiemposHeadline-Semibold.woff);
}
.fontGraphikM {
  font-family: "graphikM";
}

.fontGraphik {
  font-family: "graphik";
}

.fontTheinhardt {
  font-family: "theinhardt";
}

.fontTiempos {
  font-family: "tiempos";
}

/* ====== colors ====== */
/* ====== media queries ====== */
/* ===== navbar ===== */
.navBarContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  width: 100vw;
  padding: 0.5rem;
}
.navBarContainer nav a {
  text-decoration: none;
  font-family: "graphik";
  color: #27282A;
}
.navBarContainer .logo {
  padding-right: 3rem;
  width: 15rem;
  font-size: 1rem;
}
.navBarContainer .getStartedButton {
  text-decoration: none;
  color: #27282A;
  border: 1px solid #27282A;
  color: #27282A;
  padding: 0.25rem;
}
.navBarContainer .getStartedButton:hover {
  color: white;
  background-color: #27282A;
}

.heroHeadline {
  text-align: center;
  font-size: 0.9rem;
}

.heroSectionImg {
  display: block;
  background: url(../img/home_hero.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 50vw;
}

.heroTextContainer {
  width: 95vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}
.heroTextContainer .heroText {
  margin-bottom: 1.5rem;
  width: 100%;
  font-size: 0.9rem;
  padding-left: 0.5rem;
}
.heroTextContainer .priceContainer {
  margin-bottom: 1rem;
}
.heroTextContainer .priceContainer .heroTextPrice {
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
.heroTextContainer .priceContainer .priceDescription {
  text-align: center;
  width: 5rem;
  margin: auto;
  color: #848689;
}

.deliverablesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.3rem;
  margin-bottom: 1rem;
}
.deliverablesContainer img {
  width: 50%;
  margin-bottom: 2rem;
}
.deliverablesContainer .deliverablesTitle {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}
.deliverablesContainer .deliverablesTextTitle {
  margin-bottom: 0.5rem;
}
.deliverablesContainer .deliverablesText {
  margin-bottom: 0.5rem;
  color: #848689;
}

.howItWorksSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f1f1f4;
  padding-top: 1rem;
  margin: 0.7rem;
  margin-bottom: 3rem;
}
.howItWorksSection .howItWorksTextContainer {
  padding-left: 1.125rem;
}
.howItWorksSection .howItWorksTextContainer .howItWorksTextTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.howItWorksSection .howItWorksTextContainer ol {
  padding-left: 1rem;
  margin-bottom: 1rem;
  color: #3D3E41;
}
.howItWorksSection .howItWorksTextContainer p {
  color: #3D3E41;
}
.howItWorksSection img {
  width: 60%;
}

.critiqueSectionArticleTitle h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.critiqueSectionArticleTitle p {
  text-align: center;
  margin-bottom: 5rem;
  color: #bcbec2;
}

.critiqueImgSection {
  background: url(../img/28.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  color: #bcbec2;
}
.critiqueImgSection p {
  padding-top: 4rem;
  width: 50%;
}
.critiqueImgSection img {
  width: 50%;
  padding-top: 3.75rem;
}

footer h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2.5rem;
}
footer .footerContainer {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: flex-end;
}
footer .footerContainer img {
  width: 15%;
}
footer .footerContainer p {
  color: #848689;
}
footer .footerContainer p a {
  color: black;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */