* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ====== fonts ====== */
@font-face {
  font-family: "graphikM";
  src: url(../fonts/Graphik-Medium.ttf);
}
@font-face {
  font-family: "graphik";
  src: url(../fonts/Graphik-Regular.woff);
}
@font-face {
  font-family: "theinhardt";
  src: url(../fonts/Theinhardt-Lt.woff);
}
@font-face {
  font-family: "tiempos";
  src: url(../fonts/TiemposHeadline-Semibold.woff);
}
.fontGraphikM {
  font-family: "graphikM";
}

.fontGraphik {
  font-family: "graphik";
}

.fontTheinhardt {
  font-family: "theinhardt";
}

.fontTiempos {
  font-family: "tiempos";
}

/* ====== colors ====== */
/* ====== media queries ====== */
@media only screen and (min-width: 700px) {
  .testDiv {
    display: none;
  }
  .testDiv a {
    display: none;
  }
  .hamburgerMenuContainer {
    display: none;
  }
  .navBarContainer {
    max-width: 100%;
  }
  .heroText {
    width: 50%;
  }
  .heroTextContainer {
    flex-wrap: nowrap;
  }
  .priceContainer {
    max-width: 50rem;
  }
  .priceDescription {
    min-width: 9rem;
  }
  .deliverablesArticle {
    max-width: 50%;
  }
  .deliverablesContainer {
    flex-wrap: nowrap;
    margin-top: 3rem;
    width: 90%;
  }
  .howItWorksSection {
    flex-wrap: nowrap;
    margin: 50rem;
  }
  .howItWorksSection img {
    max-width: 400px;
  }
  .howItWorksSection .howItWorksTextContainer {
    max-width: 50%;
  }
  .critiqueSectionArticleTitle p {
    max-width: 32%;
    margin: auto;
  }
  .critiqueImgSection {
    padding: 2rem;
  }
  .critiqueImgSection p {
    margin-top: 15rem;
    font-size: 1.5rem;
  }
  .critiqueImgSection img {
    margin-top: 12rem;
    width: 70%;
  }
}
@media only screen and (max-width: 700px) {
  .navBig {
    display: none;
  }
  .navBig a {
    display: none;
  }
  .getStartedButtonL {
    display: none;
  }
  .getStartedButtonL button {
    display: none;
  }
}
/* ===== navbar ===== */
.navBarContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
  width: 100vw;
  padding: 0.5rem;
}
.navBarContainer nav {
  display: flex;
  justify-content: space-between;
  max-width: 15rem;
}
.navBarContainer nav a {
  text-decoration: none;
  font-family: "graphik";
  color: #27282A;
  margin-right: 1rem;
  font-size: clamp(0.8rem, 2vw, 1rem);
}
.navBarContainer .logo {
  font-size: clamp(1rem, 3vw, 2rem);
  width: 15rem;
}
.navBarContainer .getStartedButtonL {
  display: block;
  text-decoration: none;
  padding: 0.25rem;
}
.navBarContainer .getStartedButtonL button {
  padding: 0.5rem;
  background-color: white;
  border: 1px solid #27282A;
}
.navBarContainer .getStartedButton:hover {
  color: white;
  background-color: #27282A;
}

.hamburgerNavContainer {
  display: none;
}
.hamburgerNavContainer a {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
  color: #f1f1f4;
  background-color: #27282A;
  border-bottom: 1px solid #f1f1f4;
}

.heroHeadline {
  text-align: center;
  font-size: clamp(0.9rem, 2vw, 1.3rem);
}

.heroSectionImg {
  display: block;
  background: url(../img/home_hero.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 45vw;
  margin-bottom: 2rem;
}

.heroTextContainer {
  width: 95vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}
.heroTextContainer .heroText {
  margin-bottom: 5rem;
  width: 75%;
  font-size: clamp(0.8rem, 2vw, 1.5rem);
  padding-left: 0.5rem;
}
.heroTextContainer .priceContainer {
  margin-bottom: 1rem;
}
.heroTextContainer .priceContainer .heroTextPrice {
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: clamp(1.5rem, 2vw, 2rem);
}
.heroTextContainer .priceContainer .priceDescription {
  text-align: center;
  width: 10rem;
  margin: auto;
  color: #848689;
}

.testDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.testDiv .buttonS {
  font-size: clamp(1.3rem, 2vw, 3rem);
  color: #27282A;
  border: 1px solid #27282A;
  padding: 0.2rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  text-decoration: none;
}

.hamburgerMenuContainer img {
  width: 1.5rem;
  padding-top: 0.5rem;
}

.deliverablesSection {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.deliverablesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.3rem;
  margin-bottom: 1rem;
}
.deliverablesContainer img {
  width: 50%;
  margin-bottom: 2rem;
}
.deliverablesContainer .deliverablesTitle {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}
.deliverablesContainer .deliverablesTextTitle {
  margin-bottom: 0.5rem;
  font-size: clamp(1rem, 3vw, 1.3rem);
}
.deliverablesContainer .deliverablesText {
  margin-bottom: 0.5rem;
  color: #848689;
  font-size: clamp(1rem, 3vw, 1.3rem);
}

.howItWorksSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f1f1f4;
  padding-top: 1rem;
  margin: 0.7rem;
  margin-bottom: 3rem;
}
.howItWorksSection .howItWorksTextContainer {
  padding-left: 1.125rem;
  padding-top: 1rem;
}
.howItWorksSection .howItWorksTextContainer .howItWorksTextTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.howItWorksSection .howItWorksTextContainer ol {
  padding-left: 1rem;
  margin-bottom: 1rem;
  color: #3D3E41;
}
.howItWorksSection .howItWorksTextContainer ol li {
  font-size: clamp(1rem, 3vw, 1.3rem);
}
.howItWorksSection .howItWorksTextContainer p {
  color: #3D3E41;
  font-size: clamp(1rem, 3vw, 1.3rem);
}
.howItWorksSection img {
  max-width: 40%;
}

.critiqueSectionArticleTitle h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.critiqueSectionArticleTitle p {
  text-align: center;
  margin-bottom: 5rem;
  color: #bcbec2;
  font-size: clamp(1rem, 2vw, 1.3rem);
}

.critiqueImgSection {
  background: url(../img/28.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  color: #bcbec2;
}
.critiqueImgSection p {
  padding-top: 4rem;
  width: 50%;
}
.critiqueImgSection img {
  width: 50%;
  padding-top: 3.75rem;
}

footer h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2.5rem;
}
footer .footerContainer {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: flex-end;
}
footer .footerContainer img {
  width: 10%;
}
footer .footerContainer p {
  color: #848689;
  font-size: clamp(1rem, 2vw, 1.3rem);
}
footer .footerContainer p a {
  color: black;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */